*{
    margin: 0;
    padding: o;
}
header{
    border-bottom: 1px solid #bdbdbd;
}
.header-content{

width: 90%;

margin-left: 5%;

/* padding-top: 15px; */

/* padding-bottom: 15px; */

overflow: hidden;
}
.logo{
width: 20%;
float: left;
}
.logo img{
width: 50%;
}
nav{
    width: 30%;
    float: right;
    padding-top: 18px;
}
nav ul{

list-style: none;

overflow: hidden;
}
nav ul li{

float: left;

/* margin: 10px; */

margin-right: 25px;

font-size: 17px;

text-transform: capitalize;
}

.content{

width: 60%;

margin-left: 20%;

text-align: center;
}
.content h1{
    
text-align: center;
    
color: #457bdd;
    
font-size: 50px;
    

}
.content p{
    
text-align: right;
    
font-size: 14px;
    
color: #5d4747;
    
margin-top: 30px;
}
.content img{
    
width: 80%;
    
margin-top: 4%;
}
.content h1:first-child {
    color:black;
    margin-top: 50px;
}
.main-content{
    overflow: hidden;
}
.left-content{

text-align: right;

width: 46%;

float: left;
}
.left-content h1{

text-align: right;

color: red !important;
}
.left-content p{

text-align: right;

margin: 5px;
}
.right-content{

width: 46%;

float: right;

text-align: left;
}
.right-content h1{

color: #000E43;

font-size: 30px;

text-align: left;
}